<h1>Seja Bem-Vindo</h1>
<p><strong>Data:</strong> <%= data_br(Date.today) %> </p>
<p> <%=nome_aplicação%> </p>

<ul>    
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
     </li>
    <li>
        <%= link_to "Mostrar moedas", coins_path %>
     </li>
</ul>

<p> 
    Você esta em ambiente de <strong><%= ambiente_rails %> </strong>.
</p>
<p>
  Eu sou uma variável de instância/sessão <%= @nome %>
</p>

<p>
  Eu sou uma variável de instância/sessão <%= @curso %>
</p>