<h1>Seja Bem-Vindo</h1>
<p>O idioma nessa aplicação é:<strong> <%= locale %> </strong> </p>
<p><strong>Data:</strong> <%= l(Date.today) %> </p>
<p> <%=nome_aplicação%> </p>
<p><%= t('hello')%> </p>
<%= render "menu" %>

<p> 
    Você esta em ambiente de <strong><%= ambiente_rails %> </strong>.
</p>
<p>
  Eu sou uma variável de instância/sessão <strong> <%= @meu_nome %> </strong>
</p>

<p>
  Meu curso <strong> <%= @curso %> </strong>
</p>