<p style="color: green"><%= notice %></p>

<h1>Mining types</h1>

<div id="mining_types">
  <% @mining_types.each do |mining_type| %>
    <%= render mining_type %>
    <p>
      <%= link_to "Show this mining type", mining_type %>
    </p>
  <% end %>
</div>

<ul>
<li>
<%= link_to "Cadastro Novo ", new_mining_type_path %>
</li>
<li>
<%= link_to "Voltar", welcome_index_path %>
</li>
</ul>
