<p style="color: green"><%= notice %></p>

<%= data_br(Date.today) %> </p>
<h1>Coins</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to "Mostrar", coin %>
    </p>
  <% end %>
</div>


<ul>
<li>
  <%= link_to "Cadrastar", new_coin_path %>
</li>
<li>
  <%= link_to "Voltar", welcome_index_path %>
</li>
</ul>
